li::before {
	content: '\25ba';
	padding-right: 10px;
  color: purple;
}
li {
	list-style-type: none;
}

.box {
	width: 80%;
	height: 200px;
	margin: 0 auto;
	background-color: rebeccapurple;
	border-radius: 15px;
	border-left: 10px solid orange;
	border-right: 10px solid orange;
	padding: 15px;
}

.triangle {
	display: inline-block;
	width: 0;
	height: 0;
	border: 40px solid transparent;
}

.red-left {
	border-bottom: 60px solid red;
}
.red-right {
	border-top: 60px solid red;
}
.green-left {
	border-left: 50px solid greenyellow;
}
.green-right {
	border-right: 50px solid greenyellow;
}
.yellow-left {
	border-bottom: 40px solid yellow; 
	border-left: 40px solid yellow;
}
.yellow-right {
	border-bottom: 40px solid yellow; 
	border-right: 40px solid yellow;
}
.blue-left {
	border-top: 40px solid blue; 
	border-left: 40px solid blue;
}
.blue-right {
	border-top: 40px solid blue; 
	border-right: 40px solid blue;
}

.shadow {
	background-color: #6e838c;
	width: 450px;
	height: 200px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Oi', cursive;
	font-size: 50px;
	color: #043e53;
	text-shadow: 10px 10px 10px black;
}

@keyframes rotation {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}

.animation {
	width: 200px;
	height: 200px;
	background-color: darkorchid;
	animation-name: rotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
